.main-bar{
    margin-top: 40px;
    margin-bottom: 90px;

    .bar-1{
        height: 13px;
        width: 100%;
        background: linear-gradient(90deg, #005F77 0%, #018699 100%);    z-index: 100;
        margin-bottom: 20px;
        transform: rotate(2.11deg);
    }

        .bar-2{
        height: 19px;
        width: 100%;
        background: linear-gradient(90deg, #005F77 0%, #018699 100%);
        margin-bottom: 20px;
        transform: rotate(-5.88deg);

    }
}