.group {
  height: 433px;
  left: 452px;
  position: absolute;
  top: 0;
  width: 989px;
}

.group .frame {
  background: url(https://c.animaapp.com/mbg4scy3uUUftI/img/frame-18-4.png) 50%
    50% / cover,
    linear-gradient(0deg, rgba(0, 93, 154, 0.1) 0%, rgba(0, 93, 154, 0.1) 100%);
  border-radius: 28.4px;
  height: 433px;
  left: 564px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 425px;
}

.group .frame-2 {
  background-image: url(https://c.animaapp.com/mbg4scy3uUUftI/img/frame-1000008399.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 28.4px;
  height: 433px;
}

.group .group-wrapper-2 {
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 476px;
}

.group .div-2 {
  height: 272px;
  position: relative;
  width: 480px;
}

.group .overlap-group-2 {
  height: 74px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 378px;
}

.group .text-wrapper-7 {
  color: #000000;
  font-family: "Tiro Kannada", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.group .line {
  height: 4px;
  left: 1px;
  position: absolute;
  top: 70px;
  width: 377px;
}

.group .text-wrapper-8 {
  color: #000000c4;
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 0;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 112px;
  width: 476px;
}
