.overlap-wrapper {
  height: 433px;
  left: 451px;
  position: absolute;
  top: 0;
  width: 990px;
}

.overlap-wrapper .overlap {
  height: 433px;
  position: relative;
}

.overlap-wrapper .group-8 {
  height: 433px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 989px;
}

.overlap-wrapper .frame-wrapper {
  background: url(https://c.animaapp.com/mbg4scy3uUUftI/img/frame-18-4.png) 50%
    50% / cover,
    linear-gradient(0deg, rgba(0, 93, 154, 0.1) 0%, rgba(0, 93, 154, 0.1) 100%);
  border-radius: 28.4px;
  height: 433px;
  left: 564px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 425px;
}

.overlap-wrapper .frame-3 {
  background-image: url(https://c.animaapp.com/mbg4scy3uUUftI/img/frame-1000008399.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 28.4px;
  height: 433px;
}

.overlap-wrapper .group-9 {
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 476px;
}

.overlap-wrapper .group-10 {
  height: 272px;
  position: relative;
  width: 480px;
}

.overlap-wrapper .overlap-group-5 {
  height: 74px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 378px;
}

.overlap-wrapper .text-wrapper-12 {
  color: #000000;
  font-family: "Tiro Kannada", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.overlap-wrapper .line-3 {
  height: 4px;
  left: 1px;
  position: absolute;
  top: 70px;
  width: 377px;
}

.overlap-wrapper .text-wrapper-13 {
  color: #000000c4;
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 0;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 112px;
  width: 476px;
}

.overlap-wrapper .button-instance {
  left: 0 !important;
  position: absolute !important;
  top: 307px !important;
}
