.our-team-main {
  display: flex;
  padding: 100px 40px;
  flex-wrap: wrap;
  justify-content: center; // Optional, to center items on smaller screens

  .our-team-imgs {
    width: 680px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0 0 auto; // prevents it from growing or shrinking

    .img-wrapper {
      position: absolute;
      width: 243px;
      height: 348px;
      border-radius: 21px;
      overflow: hidden;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .pos-1 {
      left: 10%;
      bottom: 0;
      z-index: 1;
      transform: scale(1);
    }

    .pos-2 {
      top: 130px;
      left: 50%;
      transform: translateX(-50%) scale(1.1);
      z-index: 3;
    }

    .pos-3 {
      right: 10%;
      bottom: 0;
      z-index: 2;
      transform: scale(1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .our-team-detail-div {
    flex: 1;
    max-width: calc(100% - 680px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px 0 20px;

    .our-team-text {
      font-size: 20px;
      color: #02879a;
      font-family: "DM Sans";
      font-weight: 400;
      line-height: 100%;
    }

    .meet-the-face {
      font-family: "Tiro Kannada";
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0%;
    }

    .blue-text {
      color: #02879a;
    }

    .meet-face-para {
      font-family: "Poppins";
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0%;
    }

    .explore-more-team {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 169px;
      border-radius: 50px;
      gap: 10px;
      padding: 21px 30px;
      background-color: #015d73;
      color: #fff;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      cursor: pointer;

      // &:hover {
      //   color: #1a5e82;
      // }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .our-team-imgs,
    .our-team-detail-div {
      width: 100%;
      max-width: 100%;
      flex: 1 1 100%;
      text-align: center;
    }

    .our-team-imgs {
      height: auto;

      .img-wrapper {
        position: static;
        margin: 10px;
        transform: none !important;
      }
    }
  }
}
