.main-div-complete {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: center;
  padding-top: 20px;
  padding-top: 150px;
  .left-content {
    flex: 1;
    .left-box-content-div {
      position: relative;
      bottom: 80px;
      .overlap-9 {
        left: 100px;
        height: 29px;
        position: relative;
        width: 93px;
        margin: 0;
        .arrow {
          height: 15px;
          left: 50px;
          position: absolute;
          top: 9px;
          width: 43px;
        }

        .ellipse-4 {
          background-color: #5aafff;
          border-radius: 15.5px / 14.5px;
          height: 29px;
          left: 0;
          position: relative;
          top: 0;
          width: 31px;
        }

        .ellipse-5 {
          background-color: #005c9a;
          border-radius: 15.5px / 14.5px;
          height: 29px;
          left: 16px;
          position: absolute;
          top: 0;
          width: 31px;
        }

        .ellipse-6 {
          background: linear-gradient(90deg, #005f77 0%, #018699 100%);
          border-radius: 15.5px / 14.5px;
          height: 29px;
          left: 34px;
          position: absolute;
          top: 0;
          width: 31px;
        }
      }
      .complete-solution {
        margin: 0px;
        padding-top: 20px;
        position: relative;
        top: 0;
        color: transparent;
        font-family: "Tiro Kannada", Helvetica;
        font-size: 50px;
        font-weight: 400;
        left: 91px;
        letter-spacing: 0;
        line-height: 64px;
        width: 688px;

        .text-wrapper-31 {
          color: #000000;
        }

        .text-wrapper-32 {
          color: #02879a;
        }
      }
      .text-hero {
        position: relative;
        left: 100px !important;
        width: 480px;
        height: 72px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        margin-bottom: 40px;
      }

      .schedule {
        position: relative;
        width: 230px;
        height: 53px;
        left: 100px;
        border-radius: 50px;
        padding: 21px 30px;
        gap: 10px;
        background: #01647b;
        color: #ffffff;
        display: flex;
        align-items: center;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background: #000000;
        }
      }

      .overlap-10 {
        height: 35px;
        left: 103px;
        position: relative;
        top: 28px;
        width: 97px;

        .ellipse-7,
        .ellipse-8,
        .ellipse-9 {
          background-color: #028397;
          border: 1px solid #ffffff;
          border-radius: 18px / 17.5px;
          height: 35px;
          position: absolute;
          top: 0;
          width: 36px;
        }

        .ellipse-7 {
          left: 0;
          position: relative;
        }

        .ellipse-8 {
          left: 30px;
        }

        .ellipse-9 {
          left: 61px;
        }
      }

      .overlap-11 {
        height: 31px;
        left: 206px;
        position: relative;
        top: -05px;
        width: 113px;

        .text-wrapper-50,
        .text-wrapper-51 {
          color: #000000;
          font-family: "Poppins", Helvetica;
          font-size: 12px;
          font-weight: 300;
          left: 0;
          letter-spacing: 0;
          line-height: normal;
          position: absolute;
        }

        .text-wrapper-50 {
          top: 0;
        }

        .text-wrapper-51 {
          top: 13px;
        }
      }
    }
  }

  .right-slider {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slider {
      position: relative;
      // width: 100%;
      width: 560px;
      height: 560px;
      // height: 300px;

      .slide {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;

        &.active {
          display: block;
        }
      }
    }

    .dots {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 16px;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
          background: linear-gradient(90deg, #005f77 0%, #018699 100%);
        }
      }
    }

    .image-slider {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
      left: 90px;
      position: relative;
      top: 0;
      width: 562px;

      .rectangle-14 {
        align-self: stretch;
        height: 560px;
        object-fit: cover;
        position: relative;
        width: 100%;
      }

      .curcle-icon-4 {
        height: 16.97px;
        position: relative;
        width: 115.85px;

        .curcle-icon-5,
        .curcle-icon-6,
        .curcle-icon-7,
        .curcle-icon-8 {
          border-radius: 8.49px;
          height: 17px;
          position: absolute;
          top: 0;
          width: 17px;
        }

        .curcle-icon-5 {
          background-color: #d4d4d4;
          left: 99px;
        }

        .curcle-icon-6 {
          background-color: #d4d4d4;
          left: 66px;
        }

        .curcle-icon-7 {
          background-color: #d4d4d4;
          left: 33px;
        }

        .curcle-icon-8 {
          background-color: #2e82b5;
          left: 0;
        }
      }
    }
  }
}
@media (max-width: 1340px) {
  .main-div-complete {
    flex-direction: column;
    gap: 60px;
    padding: 140px 20px 40px;

    .left-content {
      text-align: center;

      .complete-solution {
        font-size: 48px;
        line-height: 58px;
        width: 100%;
        left: 0;
      }

      .text-hero,
      .schedule,
      .overlap-10,
      .overlap-11 {
        left: 0 !important;
        margin: 0 auto;
      }

      .text-hero {
        width: 100%;
        max-width: 480px;
        font-size: 14px;
      }

      .schedule {
        width: fit-content;
        font-size: 14px;
        padding: 16px 24px;
      }

      .overlap-10 {
        top: 32px;
      }

      .overlap-11 {
        top: 10px;
      }
    }

    .right-slider {
      .slider {
        width: 100%;
        max-width: 400px;
        height: auto;

        .slide {
          height: auto;
        }
      }

      .dots {
        margin-top: 12px;
      }
    }
  }
}
