.consultant-slider-container {
  padding: 60px 40px;
  background-color: #f9f9f9;

  .slider-heading {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .slider-wrapper {
    position: relative;
    height: 290px; // Match the height when slider-item is hovered


    .arrow {
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      z-index: 10;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      font-size: 22px;
      padding: 10px 18px;
      cursor: pointer;
      border-radius: 50%;
      transition: background 0.3s ease;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }

      &.left {
        left: -20px;
      }

      &.right {
        right: -20px;
      }
    }

    .slider {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 20px;
      padding-bottom: 10px;
      height: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
    }

.slider-item {
  position: relative;
  width: 274px; 
  height: 190px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease;

  img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.3s ease, height 0.3s ease;
  }

  .overlay-consultant {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 16px;
    transition: opacity 0.3s ease;
    z-index: 2;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 60px;
    padding-bottom: 60px;
    flex-direction: column;

    .text-slider-detail{
        font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: start;

    }
    .line-slider{
        margin-top: 10px;
        height: 4px;
        width: 110%;
        // color: #f9f9f9;
        background-color: #5AAFFF;
    }
  }

  &:hover {
    height: 290px; //height adjust from hereeee
    width: 235px;

    img {
      transform: scale(1.05);
    }

    .overlay-consultant {
      opacity: 1;
    }
  }
}

  }

  @media (max-width: 768px) {
    .slider-item {
      min-width: 160px;
      height: 100px;
    }

    .arrow {
      display: none;
    }
  }
}
